body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  background-color: hsl(240, 76%, 98%);
  color: hsl(233, 13%, 49%);
  text-align: center;
  padding: 2rem 1rem;
  background-image: url('top_img.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  background-size: 250px;
}

.pricing-container h1 {
  color: hsl(232, 13%, 33%);
  font-weight: 700;
  margin-bottom: 1rem;
}

.toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 6rem;
  color: hsl(234, 14%, 74%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 30px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 34px;
  transition: background 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 22px;
  width: 20px;
  left: 4px;
  bottom: 4.5px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input[type="checkbox"]:checked+.slider::before {
  transform: translateX(24px);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.space {
  height: 2rem;
}

.pricing {
  margin-bottom: 1.3rem;
}

.card1,
.card2 {
  background: white;
  padding: 2rem 0.4rem;
  border-radius: 0.8rem;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 92%;

}

.card-highlighted {
  background: white;
  padding: 2rem 0.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 92%;
  background: linear-gradient(to bottom, hsl(235, 75%, 78%), hsl(237, 63%, 64%));
  color: white;

}


.card1 h2,
.card2 h2 {
  margin: 0 0 1rem;
  color: hsl(232, 13%, 33%);
  font-weight: 700;
}

.price {
  font-size: 4.2rem;
  font-weight: 700;
  color: hsl(232, 13%, 33%);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.card1 hr,
.card2 hr {
  border: none;
  /* border-top: 1px solid hsl(220, 4%, 83%); */
  margin: 1.0rem 26px;
  height: 0.4px;
  border-top: 1px solid rgb(224, 222, 222);
}

.dollar-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 5px;
  margin-top: -7px;
  margin-bottom: -7px;
}

.highlighted-hr {
  border: none;
  border-top: 1px solid hsla(217, 32%, 92%, 0.295);
  margin: 1.0rem 26px;
  height: 0.8px;
  /* height: 0.9px; */
}

.para {
  font-weight: 700;
  margin: 0.75rem 0;
}

.toggle-button {
  border-radius: 20px;
  margin: 0;
  padding: 3px;
  width: 1rem;
  height: 6rem;
}

.dollar {
  font-size: 2.6rem;
  margin-top: 36px;
}

.black-dollar {
  font-size: 2.6rem;
  margin-top: 36px;
  color: hsl(232, 13%, 33%);
}

button {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  border: none;
  padding: 0.8rem 5rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  /* font-size: 9px; */
  letter-spacing: 1.8px;
  font-size: 13px;
}

.hovering:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  border-radius: 5px;
  font-weight: 700;
  /* cursor: pointer; */
  margin-top: 20px;
  padding: 0.8rem 5rem;
  border: 1px solid hsl(236, 72%, 79%);
  letter-spacing: 1.8px;
  font-size: 13px;
  /* letter-spacing: 2px; */
}

.card-highlighted .hovering:hover {
  background: hsl(237, 63%, 64%);
  color: white;
  border: 2px solid hsl(234, 14%, 74%);
  padding: 0.8rem 4rem;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}

.card-highlighted .price,
.card-highlighted h2,
.card-highlighted ul li {
  color: white;
}

.card-highlighted button {
  background: white;
  color: hsl(237, 63%, 60%);
}

@media (min-width: 1024px) {
  body {
    background-image: url('top_img.svg'), url('bottom_img.svg');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 400px;
  }

  .pricing-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin-top: 3%;
    margin-bottom: 12%;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 2%;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 6.5rem;
    gap: 0;
  }

  .card1 {
    background: white;
    padding: 2rem 0.4rem;
    /* border-radius: 0.8rem; */
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* width: 350px; */
    width: 50%;

  }

  .card2 {
    background: white;
    padding: 2rem 0.4rem;
    /* border-radius: 0.8rem; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    /* width: 350px; */
  }

  .card-highlighted {
    padding: 4rem 0.4rem;
    border-radius: 0.8rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    /* width: 350px; */
    background: linear-gradient(to bottom, hsl(235, 75%, 78%), hsl(237, 63%, 64%));
    color: white;
    position: relative;
    margin-top: -2rem;
    margin-bottom: -2rem;
    z-index: 1;
  }

  button {
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border: none;
    padding: 0.9rem 6rem;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    /* font-size: 9px; */
    letter-spacing: 1.8px;
    font-size: 13px;
  }

  .pricing {
    margin-bottom: 2rem;
  }

  .hovering:hover {
    background: white;
    color: hsl(237, 63%, 64%);
    border-radius: 5px;
    font-weight: 700;
    /* cursor: pointer; */
    margin-top: 20px;
    padding: 0.9rem 6rem;
    border: 1px solid hsl(236, 72%, 79%);
    letter-spacing: 1.8px;
    font-size: 13px;
    /* letter-spacing: 2px; */
  }

  .card-highlighted .hovering:hover {
    background: hsl(237, 63%, 64%);
    color: white;
    border: 2px solid hsl(234, 14%, 74%);
    padding: 0.75rem 6rem;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
  }
}